<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>菜单 上传</div>
    <button type="button" class="layui-btn" id="test3">上传文件</button>
    <script th:src="@{/static/layui.js}" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        layui.use('upload', function() {
            var $ = layui.jquery
                , upload = layui.upload;
            //指定允许上传的文件类型
            upload.render({
                elem: '#test3'
                , url: 'https://httpbin.org/post' //改成您自己的上传接口
                , accept: 'file' //普通文件
                , done: function (res) {
                    layer.msg('上传成功');
                    console.log(res);
                }
            });
        })
    </script>
</body>
</html>
